In [1]:
import pandas as pd
import read_mta_turnstile as t
import merge_station_company as me

In [2]:
top_stations = pd.read_csv('df_top.csv')

In [3]:
top_stations

,Unnamed: 0,COMPANY,LAT,LON,name,lon,lat,distance,comp_lat_lon,station_lat_lon,STATION_x,mean_entries,STATION_y,max_entries,count,toucan_score
0,14,Accenture,40.763000,-73.979030,47-50 STS ROCK,-73.981331,40.758641,0.324108,"(40.763, -73.97903000000001)","('40.75864100159815', '-73.98133100227702')",47-50 STS ROCK,7446.052133,47-50 STS ROCK,45801.0,5,37230.260664
1,3,Accenture Content Studio,40.725410,-74.004690,CANAL ST,-74.005229,40.720824,0.317707,"(40.72541, -74.00469)","('40.72082400007119', '-74.0052290023424')",CANAL ST,5412.661905,CANAL ST,22345.0,3,16237.985714
2,36,Amazon,40.753050,-73.999440,34 ST-PENN STA,-73.991057,40.750373,0.477107,"(40.75305, -73.99944)","('40.75037300003949', '-73.99105699913983')",34 ST-PENN STA,11769.410926,34 ST-PENN STA,37719.0,4,47077.643705
3,32,Bank of America,40.755390,-73.984710,34 ST-HERALD SQ,-73.987772,40.749645,0.427771,"(40.755390000000006, -73.98470999999999)","('40.74964456009442', '-73.98777189072918')",34 ST-HERALD SQ,16186.119048,34 ST-HERALD SQ,51122.0,4,64744.476190
4,46,Capital One,40.756020,-73.974180,42 ST-BRYANT PK,-73.981963,40.753821,0.435670,"(40.75602, -73.97418)","('40.75382100064824', '-73.98196299856706')",42 ST-BRYANT PK,5472.767773,42 ST-BRYANT PK,26994.0,9,49254.909953
5,60,Ebay,40.740210,-73.994990,14 ST-UNION SQ,-73.989951,40.734673,0.464676,"(40.74021, -73.99499)","('40.734673000996125', '-73.98995099881881')",14 ST-UNION SQ,15727.995238,14 ST-UNION SQ,43036.0,2,31455.990476
6,59,Facebook,40.730701,-73.991531,14 ST-UNION SQ,-73.989951,40.734673,0.286351,"(40.730701, -73.99153100000001)","('40.734673000996125', '-73.98995099881881')",14 ST-UNION SQ,15727.995238,14 ST-UNION SQ,43036.0,2,31455.990476
7,63,HP,40.744830,-73.999460,18 ST,-73.997871,40.741040,0.274494,"(40.74483, -73.99946)","('40.741039999802105', '-73.99787100060406')",18 ST,1263.404762,18 ST,4710.0,2,2526.809524
8,52,Microsoft,40.756989,-73.989708,TIMES SQ-42 ST,-73.986229,40.754612,0.245411,"(40.756989000000004, -73.989708)","('40.75461199851542', '-73.98622899953202')",TIMES SQ-42 ST,14745.502370,TIMES SQ-42 ST,47019.0,4,58982.009479
9,34,PWC,40.752650,-73.980030,34 ST-HERALD SQ,-73.987772,40.749645,0.456129,"(40.75265, -73.98003)","('40.74964456009442', '-73.98777189072918')",34 ST-HERALD SQ,16186.119048,34 ST-HERALD SQ,51122.0,4,64744.476190
10,31,Thoughtworks,40.744678,-73.984901,34 ST-HERALD SQ,-73.987772,40.749645,0.374360,"(40.744678, -73.98490100000001)","('40.74964456009442', '-73.98777189072918')",34 ST-HERALD SQ,16186.119048,34 ST-HERALD SQ,51122.0,4,64744.476190
11,4,Two Sigma,40.723270,-74.004390,CANAL ST,-73.999826,40.718174,0.425506,"(40.72327, -74.00439)","('40.71817387697391', '-73.99982638545937')",CANAL ST,5412.661905,CANAL ST,22345.0,3,16237.985714
12,33,Workday,40.748170,-73.985000,34 ST-HERALD SQ,-73.987772,40.749645,0.177515,"(40.74817, -73.985)","('40.74964456009442', '-73.98777189072918')",34 ST-HERALD SQ,16186.119048,34 ST-HERALD SQ,51122.0,4,64744.476190

In [4]:
turnstile_data = t.read_mta_turnstile(start='20180501', end='20180531')

Reading: http://web.mta.info/developers/data/nyct/turnstile/turnstile_180505.txt
Reading: http://web.mta.info/developers/data/nyct/turnstile/turnstile_180512.txt
Reading: http://web.mta.info/developers/data/nyct/turnstile/turnstile_180519.txt
Reading: http://web.mta.info/developers/data/nyct/turnstile/turnstile_180526.txt
Reading: http://web.mta.info/developers/data/nyct/turnstile/turnstile_180602.txt

In [5]:
turnstile_data1 = turnstile_data.loc[:,['STATION','DATE','TIME','hourly_entries','hourly_exits']]()

In [60]:
turnstile_data1[(turnstile_data1.STATION == '1 AV') & (turnstile_data1.DATE == '04/28/2018')]

     STATION        DATE      TIME  hourly_entries  hourly_exits
0       1 AV  04/28/2018  00:00:00            90.0         294.0
1       1 AV  04/28/2018  04:00:00            89.0         321.0
2       1 AV  04/28/2018  08:00:00           546.0        1039.0
3       1 AV  04/28/2018  12:00:00           741.0        1288.0
4       1 AV  04/28/2018  16:00:00           693.0        1560.0
5       1 AV  04/28/2018  20:00:00           505.0        1022.0
210     1 AV  04/28/2018  00:00:00           159.0         183.0
211     1 AV  04/28/2018  04:00:00           137.0         214.0
212     1 AV  04/28/2018  08:00:00           793.0         510.0
213     1 AV  04/28/2018  12:00:00          1071.0         608.0
214     1 AV  04/28/2018  16:00:00          1062.0         749.0
215     1 AV  04/28/2018  20:00:00           719.0         553.0
420     1 AV  04/28/2018  00:00:00            11.0          53.0
421     1 AV  04/28/2018  04:00:00            23.0          53.0
422     1 AV  04/28/2018  08:00:00           147.0         231.0
423     1 AV  04/28/2018  12:00:00           231.0         375.0
424     1 AV  04/28/2018  16:00:00           226.0         534.0
425     1 AV  04/28/2018  20:00:00           115.0         334.0
630     1 AV  04/28/2018  00:00:00            14.0          17.0
631     1 AV  04/28/2018  04:00:00            13.0          20.0
632     1 AV  04/28/2018  08:00:00           112.0          68.0
633     1 AV  04/28/2018  12:00:00           182.0         153.0
634     1 AV  04/28/2018  16:00:00           215.0         219.0
635     1 AV  04/28/2018  20:00:00            80.0         143.0
840     1 AV  04/28/2018  00:00:00            24.0           4.0
841     1 AV  04/28/2018  04:00:00            31.0           5.0
842     1 AV  04/28/2018  08:00:00           192.0          20.0
843     1 AV  04/28/2018  12:00:00           329.0          48.0
844     1 AV  04/28/2018  16:00:00           321.0          72.0
845     1 AV  04/28/2018  20:00:00           179.0          36.0
1050    1 AV  04/28/2018  00:00:00            49.0         161.0
1051    1 AV  04/28/2018  04:00:00             3.0         108.0
1052    1 AV  04/28/2018  08:00:00            19.0         514.0
1053    1 AV  04/28/2018  12:00:00            87.0        1058.0
1054    1 AV  04/28/2018  16:00:00            67.0        1347.0
1055    1 AV  04/28/2018  20:00:00           103.0        1047.0
1260    1 AV  04/28/2018  00:00:00           121.0         145.0
1261    1 AV  04/28/2018  04:00:00            27.0         144.0
1262    1 AV  04/28/2018  08:00:00            66.0         656.0
1263    1 AV  04/28/2018  12:00:00           213.0        1027.0
1264    1 AV  04/28/2018  16:00:00           230.0        1292.0
1265    1 AV  04/28/2018  20:00:00           229.0         977.0
1470    1 AV  04/28/2018  00:00:00           248.0          92.0
1471    1 AV  04/28/2018  04:00:00            44.0         110.0
1472    1 AV  04/28/2018  08:00:00           158.0         456.0
1473    1 AV  04/28/2018  12:00:00           562.0         535.0
1474    1 AV  04/28/2018  16:00:00           523.0         791.0
1475    1 AV  04/28/2018  20:00:00           545.0         587.0
1680    1 AV  04/28/2018  00:00:00           431.0          29.0
1681    1 AV  04/28/2018  04:00:00           105.0          78.0
1682    1 AV  04/28/2018  08:00:00           353.0         232.0
1683    1 AV  04/28/2018  12:00:00           853.0         158.0
1684    1 AV  04/28/2018  16:00:00           850.0         272.0
1685    1 AV  04/28/2018  20:00:00           808.0         236.0
1890    1 AV  04/28/2018  00:00:00           321.0          16.0
1891    1 AV  04/28/2018  04:00:00           126.0          37.0
1892    1 AV  04/28/2018  08:00:00           470.0          72.0
1893    1 AV  04/28/2018  12:00:00          1099.0          41.0
1894    1 AV  04/28/2018  16:00:00          1314.0          68.0
1895    1 AV  04/28/2018  20:00:00          1065.0          79.0

In [7]:
top_stations.rename(columns={'name':'STATION'}, inplace = True)

In [8]:
top_stations1 = top_stations.loc[:,['STATION','toucan_score']]

In [9]:
top_stations1

            STATION  toucan_score
0    47-50 STS ROCK  37230.260664
1          CANAL ST  16237.985714
2    34 ST-PENN STA  47077.643705
3   34 ST-HERALD SQ  64744.476190
4   42 ST-BRYANT PK  49254.909953
5    14 ST-UNION SQ  31455.990476
6    14 ST-UNION SQ  31455.990476
7             18 ST   2526.809524
8    TIMES SQ-42 ST  58982.009479
9   34 ST-HERALD SQ  64744.476190
10  34 ST-HERALD SQ  64744.476190
11         CANAL ST  16237.985714
12  34 ST-HERALD SQ  64744.476190

In [10]:
turnstile_data2 = turnstile_data1.merge(top_stations1, on = 'STATION')

In [61]:
turnstile_data2[turnstile_data2.STATION == '14 ST-UNION SQ']

,STATION,DATE,TIME,hourly_entries,hourly_exits,toucan_score
0,14 ST-UNION SQ,04/28/2018,01:00:00,9.0,11.0,31455.990476
1,14 ST-UNION SQ,04/28/2018,01:00:00,9.0,11.0,31455.990476
2,14 ST-UNION SQ,04/28/2018,05:00:00,3.0,120.0,31455.990476
3,14 ST-UNION SQ,04/28/2018,05:00:00,3.0,120.0,31455.990476
4,14 ST-UNION SQ,04/28/2018,09:00:00,59.0,505.0,31455.990476
5,14 ST-UNION SQ,04/28/2018,09:00:00,59.0,505.0,31455.990476
6,14 ST-UNION SQ,04/28/2018,13:00:00,217.0,946.0,31455.990476
7,14 ST-UNION SQ,04/28/2018,13:00:00,217.0,946.0,31455.990476
8,14 ST-UNION SQ,04/28/2018,17:00:00,214.0,729.0,31455.990476
9,14 ST-UNION SQ,04/28/2018,17:00:00,214.0,729.0,31455.990476
10,14 ST-UNION SQ,04/28/2018,21:00:00,74.0,145.0,31455.990476
11,14 ST-UNION SQ,04/28/2018,21:00:00,74.0,145.0,31455.990476
12,14 ST-UNION SQ,04/29/2018,01:00:00,5.0,7.0,31455.990476
13,14 ST-UNION SQ,04/29/2018,01:00:00,5.0,7.0,31455.990476
14,14 ST-UNION SQ,04/29/2018,05:00:00,5.0,75.0,31455.990476
15,14 ST-UNION SQ,04/29/2018,05:00:00,5.0,75.0,31455.990476
16,14 ST-UNION SQ,04/29/2018,09:00:00,28.0,375.0,31455.990476
17,14 ST-UNION SQ,04/29/2018,09:00:00,28.0,375.0,31455.990476
18,14 ST-UNION SQ,04/29/2018,13:00:00,151.0,677.0,31455.990476
19,14 ST-UNION SQ,04/29/2018,13:00:00,151.0,677.0,31455.990476
20,14 ST-UNION SQ,04/29/2018,17:00:00,159.0,413.0,31455.990476
21,14 ST-UNION SQ,04/29/2018,17:00:00,159.0,413.0,31455.990476
22,14 ST-UNION SQ,04/29/2018,21:00:00,48.0,49.0,31455.990476
23,14 ST-UNION SQ,04/29/2018,21:00:00,48.0,49.0,31455.990476
24,14 ST-UNION SQ,04/30/2018,01:00:00,6.0,6.0,31455.990476
25,14 ST-UNION SQ,04/30/2018,01:00:00,6.0,6.0,31455.990476
26,14 ST-UNION SQ,04/30/2018,05:00:00,59.0,594.0,31455.990476
27,14 ST-UNION SQ,04/30/2018,05:00:00,59.0,594.0,31455.990476
28,14 ST-UNION SQ,04/30/2018,09:00:00,98.0,763.0,31455.990476
29,14 ST-UNION SQ,04/30/2018,09:00:00,98.0,763.0,31455.990476
...,...,...,...,...,...,...
15880,14 ST-UNION SQ,05/30/2018,13:00:00,202.0,67.0,31455.990476
15881,14 ST-UNION SQ,05/30/2018,13:00:00,202.0,67.0,31455.990476
15882,14 ST-UNION SQ,05/30/2018,17:00:00,341.0,107.0,31455.990476
15883,14 ST-UNION SQ,05/30/2018,17:00:00,341.0,107.0,31455.990476
15884,14 ST-UNION SQ,05/30/2018,21:00:00,75.0,8.0,31455.990476
15885,14 ST-UNION SQ,05/30/2018,21:00:00,75.0,8.0,31455.990476
15886,14 ST-UNION SQ,05/31/2018,01:00:00,8.0,0.0,31455.990476
15887,14 ST-UNION SQ,05/31/2018,01:00:00,8.0,0.0,31455.990476
15888,14 ST-UNION SQ,05/31/2018,05:00:00,36.0,33.0,31455.990476
15889,14 ST-UNION SQ,05/31/2018,05:00:00,36.0,33.0,31455.990476
15890,14 ST-UNION SQ,05/31/2018,09:00:00,77.0,80.0,31455.990476
15891,14 ST-UNION SQ,05/31/2018,09:00:00,77.0,80.0,31455.990476
15892,14 ST-UNION SQ,05/31/2018,13:00:00,225.0,76.0,31455.990476
15893,14 ST-UNION SQ,05/31/2018,13:00:00,225.0,76.0,31455.990476
15894,14 ST-UNION SQ,05/31/2018,17:00:00,353.0,105.0,31455.990476
15895,14 ST-UNION SQ,05/31/2018,17:00:00,353.0,105.0,31455.990476
15896,14 ST-UNION SQ,05/31/2018,21:00:00,90.0,7.0,31455.990476
15897,14 ST-UNION SQ,05/31/2018,21:00:00,90.0,7.0,31455.990476
15898,14 ST-UNION SQ,06/01/2018,01:00:00,2.0,1.0,31455.990476
15899,14 ST-UNION SQ,06/01/2018,01:00:00,2.0,1.0,31455.990476
15900,14 ST-UNION SQ,06/01/2018,05:00:00,26.0,26.0,31455.990476
15901,14 ST-UNION SQ,06/01/2018,05:00:00,26.0,26.0,31455.990476
15902,14 ST-UNION SQ,06/01/2018,09:00:00,108.0,78.0,31455.990476
15903,14 ST-UNION SQ,06/01/2018,09:00:00,108.0,78.0,31455.990476
15904,14 ST-UNION SQ,06/01/2018,13:00:00,235.0,85.0,31455.990476
15905,14 ST-UNION SQ,06/01/2018,13:00:00,235.0,85.0,31455.990476
15906,14 ST-UNION SQ,06/01/2018,17:00:00,369.0,93.0,31455.990476
15907,14 ST-UNION SQ,06/01/2018,17:00:00,369.0,93.0,31455.990476
15908,14 ST-UNION SQ,06/01/2018,21:00:00,NaN,NaN,31455.990476
15909,14 ST-UNION SQ,06/01/2018,21:00:00,NaN,NaN,31455.990476

In [69]:
schedule = pd.DataFrame(columns = ['STATION', 'hour_of_day', 'day_name', 'hourly_entries'])
agg = turnstile_data1.groupby(['STATION','DATE','TIME'])[['hourly_entries']].sum().reset_index()
agg.DATE = pd.to_datetime(agg.DATE, format='%m/%d/%Y')
agg.TIME = pd.to_datetime(agg.TIME, format='%H:%M:%S')
agg['day_name'] = agg.DATE.dt.dayofweek
agg['hour_of_day'] = agg.TIME.dt.hour


#remove 0, 4, and 20 hours of day. Only want 8:00am, 12:00pm, and 4:00pm
agg = agg[(agg['hour_of_day'] > 5) & (agg['hour_of_day'] < 19 )]


for station_name in top_stations1.STATION.unique():
    # Probably turn this into a function to make it easier


    hm = agg.loc[agg.STATION == station_name,['hour_of_day','day_name','hourly_entries']]
    hm = hm.groupby(['hour_of_day','day_name'])['hourly_entries'].mean().reset_index()
    hm = hm.pivot(index='hour_of_day',columns='day_name',values='hourly_entries')

    sc = hm.stack().nlargest(3).reset_index() 
    sc.rename(columns={0:'hourly_entries'}, inplace=True)
    sc['STATION'] = [station_name]*3
    schedule = schedule.append(sc)
#     break

/Users/liuriguang/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [70]:
# sc
schedule

           STATION day_name hour_of_day  hourly_entries
0   47-50 STS ROCK        1          16         39695.2
1   47-50 STS ROCK        2          16         39192.2
2   47-50 STS ROCK        3          16         37501.2
0         CANAL ST        3          17         21630.0
1         CANAL ST        2          17         21517.2
2         CANAL ST        1          17         21385.4
0   34 ST-PENN STA        1           8         36276.2
1   34 ST-PENN STA        3           8         36162.6
2   34 ST-PENN STA        2           8         35702.6
0  34 ST-HERALD SQ        2          16         50308.2
1  34 ST-HERALD SQ        3          16         49405.8
2  34 ST-HERALD SQ        1          16         49286.4
0  42 ST-BRYANT PK        2          16         26125.6
1  42 ST-BRYANT PK        1          16         25565.4
2  42 ST-BRYANT PK        3          16         25120.0
0   14 ST-UNION SQ        2          17         41225.6
1   14 ST-UNION SQ        1          17         40611.8
2   14 ST-UNION SQ        3          17         40576.4
0            18 ST        1          16          4102.2
1            18 ST        2          16          4065.8
2            18 ST        3          16          4000.8
0   TIMES SQ-42 ST        2          16         45443.2
1   TIMES SQ-42 ST        1          16         43749.8
2   TIMES SQ-42 ST        3          16         43072.8

In [13]:
def find_schedule(station,top_n):
    
    # Probably turn this into a function to make it easier
    agg = turnstile_data.groupby(['STATION','DATE','TIME'])[['hourly_entries']].sum().reset_index()
    agg.DATE = pd.to_datetime(agg.DATE, format='%m/%d/%Y')
    agg.TIME = pd.to_datetime(agg.TIME, format='%H:%M:%S')
    agg['day_name'] = agg.DATE.dt.dayofweek
    agg['hour_of_day'] = agg.TIME.dt.hour
    
    
    #remove 0, 4, and 20 hours of day. Only want 8:00am, 12:00pm, and 4:00pm
    agg = agg[(agg['hour_of_day'] > 5) & (agg['hour_of_day'] < 19 )]

    
    hm = agg.loc[agg.STATION == station_name,['hour_of_day','day_name','hourly_entries']]
    hm = hm.groupby(['hour_of_day','day_name'])['hourly_entries'].mean().reset_index()
    hm = hm.pivot(index='hour_of_day',columns='day_name',values='hourly_entries')
    
    return station.stack().nlargest(top_n).reset_index()