In [1]:
#Hack to fix missing PROJ4 env var
import os
import conda

conda_file_dir = conda.__file__
conda_dir = conda_file_dir.split('lib')[0]
proj_lib = os.path.join(os.path.join(conda_dir, 'share'), 'proj')
os.environ["PROJ_LIB"] = proj_lib

In [28]:
import merge_station_company as m
import read_mta_stations as s
import read_mta_turnstile as t
import read_tech_compaines as c
import create_station_heatmap as h
import top_stations as a

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [29]:
turnstiles = t.read_mta_turnstile()
stations = s.read_mta_stations()
companies = c.read_tech_companies()

Reading: http://web.mta.info/developers/data/nyct/turnstile/turnstile_180505.txt
Reading: http://web.mta.info/developers/data/nyct/turnstile/turnstile_180512.txt
Reading: http://web.mta.info/developers/data/nyct/turnstile/turnstile_180519.txt
Reading: http://web.mta.info/developers/data/nyct/turnstile/turnstile_180526.txt
Reading: http://web.mta.info/developers/data/nyct/turnstile/turnstile_180602.txt

In [120]:
# station_companies = m.merge_station_company(stations, companies, turnstiles, thresh=0.5)

# station_companies[station_companies.COMPANY == 'Accenture']
df = station_companies.sort_values(['COMPANY','name','distance'])
df.loc[df.COMPANY == 'Accenture',['COMPANY','distance','mean_entries','max_entries', 'name','STATION_x']]

,COMPANY,distance,mean_entries,max_entries,name,STATION_x
6,Accenture,0.324108,7446.052133,45801.0,47-50 STS ROCK,47-50 STS ROCK
7,Accenture,0.350070,3960.580952,13813.0,49 ST,49 ST
10,Accenture,0.282439,3506.790476,15582.0,5 AV/53 ST,5 AV/53 ST
11,Accenture,0.323289,2450.085714,9331.0,5 AV/59 ST,5 AV/59 ST
8,Accenture,0.114929,1600.383886,7306.0,57 ST,57 ST
9,Accenture,0.387249,11008.400000,35051.0,59 ST COLUMBUS,59 ST COLUMBUS

In [104]:
turnstiles.STATION.unique()

array(['1 AV', '103 ST', '103 ST-CORONA', '104 ST', '110 ST', '111 ST',
       '116 ST', '116 ST-COLUMBIA', '121 ST', '125 ST', '135 ST',
       '137 ST CITY COL', '138/GRAND CONC', '14 ST', '14 ST-UNION SQ',
       '145 ST', '149/GRAND CONC', '14TH STREET', '15 ST-PROSPECT',
       '155 ST', '157 ST', '161/YANKEE STAD', '167 ST', '168 ST',
       '169 ST', '170 ST', '174 ST', '174-175 STS', '175 ST', '176 ST',
       '18 AV', '18 ST', '181 ST', '182-183 STS', '183 ST', '190 ST',
       '191 ST', '2 AV', '20 AV', '207 ST', '21 ST', '21 ST-QNSBRIDGE',
       '215 ST', '219 ST', '225 ST', '23 ST', '231 ST', '233 ST',
       '238 ST', '25 AV', '25 ST', '28 ST', '3 AV', '3 AV 138 ST',
       '3 AV-149 ST', '33 ST', '33 ST-RAWSON ST', '34 ST-HERALD SQ',
       '34 ST-HUDSON YD', '34 ST-PENN STA', '36 ST', '39 AV', '4 AV-9 ST',
       '40 ST LOWERY ST', '42 ST-BRYANT PK', '42 ST-PORT AUTH', '45 ST',
       '46 ST', '46 ST BLISS ST', '47-50 STS ROCK', '49 ST', '4AV-9 ST',
       '5 AV/53 ST', '5 AV/59 ST', '5 AVE', '50 ST', '51 ST', '52 ST',
       '53 ST', '55 ST', '57 ST', '57 ST-7 AV', '59 ST', '59 ST COLUMBUS',
       '6 AV', '61 ST WOODSIDE', '63 DR-REGO PARK', '65 ST',
       '66 ST-LINCOLN', '67 AV', '68ST-HUNTER CO', '69 ST', '7 AV',
       '71 ST', '72 ST', '72 ST-2 AVE', '74 ST-BROADWAY', '75 AV',
       '75 ST-ELDERTS', '77 ST', '79 ST', '8 AV', '8 ST-NYU', '80 ST',
       '81 ST-MUSEUM', '82 ST-JACKSON H', '85 ST-FOREST PK', '86 ST',
       '86 ST-2 AVE', '88 ST', '9 AV', '90 ST-ELMHURST', '96 ST',
       '96 ST-2 AVE', '9TH STREET', 'ALABAMA AV', 'ALLERTON AV',
       'AQUEDUCT N.COND', 'AQUEDUCT RACETR', 'ASTOR PL', 'ASTORIA BLVD',
       'ASTORIA DITMARS', 'ATL AV-BARCLAY', 'ATLANTIC AV', 'AVENUE H',
       'AVENUE I', 'AVENUE J', 'AVENUE M', 'AVENUE N', 'AVENUE P',
       'AVENUE U', 'AVENUE X', "B'WAY-LAFAYETTE", 'BAY 50 ST', 'BAY PKWY',
       'BAY RIDGE AV', 'BAY RIDGE-95 ST', 'BAYCHESTER AV', 'BEACH 105 ST',
       'BEACH 25 ST', 'BEACH 36 ST', 'BEACH 44 ST', 'BEACH 60 ST',
       'BEACH 67 ST', 'BEACH 90 ST', 'BEACH 98 ST', 'BEDFORD AV',
       'BEDFORD PK BLVD', 'BEDFORD-NOSTRAN', 'BERGEN ST', 'BEVERLEY ROAD',
       'BEVERLY RD', 'BLEECKER ST', 'BOROUGH HALL', 'BOTANIC GARDEN',
       'BOWERY', 'BOWLING GREEN', 'BRIARWOOD', 'BRIGHTON BEACH',
       'BROAD CHANNEL', 'BROAD ST', 'BROADWAY', 'BROADWAY JCT',
       'BRONX PARK EAST', 'BROOK AV', 'BROOKLYN BRIDGE', 'BUHRE AV',
       'BURKE AV', 'BURNSIDE AV', 'BUSHWICK AV', 'CANAL ST',
       'CANARSIE-ROCKAW', 'CARROLL ST', 'CASTLE HILL AV',
       'CATHEDRAL PKWY', 'CENTRAL AV', 'CENTRAL PK N110', 'CHAMBERS ST',
       'CHAUNCEY ST', 'CHRISTOPHER ST', 'CHURCH AV', 'CITY / BUS',
       'CITY HALL', 'CLARK ST', 'CLASSON AV', 'CLEVELAND ST',
       'CLINTON-WASH AV', 'CONEY IS-STILLW', 'CORTELYOU RD',
       'CORTLANDT ST', 'COURT SQ', 'COURT SQ-23 ST', 'CRESCENT ST',
       'CROWN HTS-UTICA', 'CYPRESS AV', 'CYPRESS HILLS', 'DEKALB AV',
       'DELANCEY/ESSEX', 'DITMAS AV', 'DYCKMAN ST', "E 143/ST MARY'S",
       'E 149 ST', 'E 180 ST', 'EAST 105 ST', 'EAST BROADWAY',
       'EASTCHSTER/DYRE', 'EASTN PKWY-MUSM', 'ELDER AV', 'ELMHURST AV',
       'EUCLID AV', 'EXCHANGE PLACE', 'FAR ROCKAWAY', 'FLATBUSH AV-B.C',
       'FLUSHING AV', 'FLUSHING-MAIN', 'FORDHAM RD', 'FOREST AVE',
       'FOREST HILLS 71', 'FRANKLIN AV', 'FRANKLIN ST', 'FREEMAN ST',
       'FRESH POND RD', 'FT HAMILTON PKY', 'FULTON ST', 'GATES AV',
       'GRAHAM AV', 'GRAND ARMY PLAZ', 'GRAND ST', 'GRAND-NEWTOWN',
       'GRANT AV', 'GRD CNTRL-42 ST', 'GREENPOINT AV', 'GROVE STREET',
       'GUN HILL RD', 'HALSEY ST', 'HARLEM 148 ST', 'HARRISON',
       'HEWES ST', 'HIGH ST', 'HOUSTON ST', 'HOWARD BCH JFK', 'HOYT ST',
       'HOYT-SCHER', 'HUNTERS PT AV', 'HUNTS POINT AV', 'INTERVALE AV',
       'INWOOD-207 ST', 'JACKSON AV', 'JAMAICA 179 ST', 'JAMAICA CENTER',
       'JAMAICA VAN WK', 'JAY ST-METROTEC', 'JEFFERSON ST',
       'JFK JAMAICA CT1', 'JKSN HT-ROOSVLT', 'JOURNAL SQUARE',
       'JUNCTION BLVD', 'JUNIUS ST', 'KEW GARDENS', 'KINGS HWY',
       'KINGSBRIDGE RD', 'KINGSTON AV', 'KINGSTON-THROOP',
       'KNICKERBOCKER', 'KOSCIUSZKO ST', 'LACKAWANNA', 'LAFAYETTE AV',
       'LEXINGTON AV/53', 'LEXINGTON AV/63', 'LIBERTY AV', 'LIVONIA AV',
       'LONGWOOD AV', 'LORIMER ST', 'MARBLE HILL-225', 'MARCY AV',
       'METROPOLITAN AV', 'METS-WILLETS PT', 'MIDDLETOWN RD',
       'MONTROSE AV', 'MORGAN AV', 'MORISN AV/SNDVW', 'MORRIS PARK',
       'MOSHOLU PKWY', 'MT EDEN AV', 'MYRTLE AV', 'MYRTLE-WILLOUGH',
       'MYRTLE-WYCKOFF', 'NASSAU AV', 'NECK RD', 'NEPTUNE AV',
       'NEREID AV', 'NEVINS ST', 'NEW LOTS', 'NEW LOTS AV',
       'NEW UTRECHT AV', 'NEWARK BM BW', 'NEWARK C', 'NEWARK HM HE',
       'NEWARK HW BMEBE', 'NEWKIRK AV', 'NEWKIRK PLAZA', 'NORTHERN BLVD',
       'NORWOOD 205 ST', 'NORWOOD AV', 'NOSTRAND AV', 'OCEAN PKWY',
       'ORCHARD BEACH', 'OZONE PK LEFFRT', 'PARK PLACE', 'PARKCHESTER',
       'PARKSIDE AV', 'PARSONS BLVD', 'PATH NEW WTC', 'PATH WTC 2',
       'PAVONIA/NEWPORT', 'PELHAM BAY PARK', 'PELHAM PKWY',
       'PENNSYLVANIA AV', 'PRESIDENT ST', 'PRINCE ST', 'PROSPECT AV',
       'PROSPECT PARK', 'QUEENS PLAZA', 'QUEENSBORO PLZ', 'RALPH AV',
       'RECTOR ST', 'RIT-MANHATTAN', 'RIT-ROOSEVELT', 'ROCKAWAY AV',
       'ROCKAWAY BLVD', 'ROCKAWAY PARK B', 'ROOSEVELT ISLND',
       'SARATOGA AV', 'SENECA AVE', 'SHEEPSHEAD BAY', 'SHEPHERD AV',
       'SIMPSON ST', 'SMITH-9 ST', 'SOUTH FERRY', 'SPRING ST',
       'ST LAWRENCE AV', 'ST. GEORGE', 'STEINWAY ST', 'STERLING ST',
       'SUTPHIN BLVD', 'SUTPHIN-ARCHER', 'SUTTER AV', 'SUTTER AV-RUTLD',
       'THIRTY ST', 'THIRTY THIRD ST', 'TIMES SQ-42 ST', 'TOMPKINSVILLE',
       'TREMONT AV', 'TWENTY THIRD ST', 'UNION ST', 'UTICA AV',
       'V.CORTLANDT PK', 'VAN SICLEN AV', 'VAN SICLEN AVE',
       'VERNON-JACKSON', 'W 4 ST-WASH SQ', 'W 8 ST-AQUARIUM',
       'WAKEFIELD/241', 'WALL ST', 'WEST FARMS SQ', 'WESTCHESTER SQ',
       'WHITEHALL S-FRY', 'WHITLOCK AV', 'WILSON AV', 'WINTHROP ST',
       'WOODHAVEN BLVD', 'WOODLAWN', 'WORLD TRADE CTR', 'YORK ST',
       'ZEREGA AV'], dtype=object)

In [118]:
station_companies.to_csv('station_companies.csv')

# Cut it a quarter-mile

In [121]:
station_companies['sq_dist_mean'] = station_companies.mean_entries - station_companies.distance.pow(5) 
station_companies['sq_dist_max'] =  station_companies.max_entries - station_companies.distance.pow(5)

In [124]:
df_top = a.top_stations(station_companies, col='sq_dist_mean', sort=False, top=1)
# df_top.loc[df_top.COMPANY == 'Accenture', ['COMPANY', 'distance','mean_entries','max_entries','sq_dist_mean','sq_dist_max']]
df_top.loc[:, ['COMPANY', 'name', 'distance','mean_entries','max_entries','sq_dist_mean','sq_dist_max']]

,COMPANY,name,distance,mean_entries,max_entries,sq_dist_mean,sq_dist_max
9,Accenture,59 ST COLUMBUS,0.387249,11008.400000,35051.0,11008.391291,35050.991291
1,Accenture Content Studio,CANAL ST,0.317707,5412.661905,22345.0,5412.658668,22344.996763
16,Amazon,34 ST-PENN STA,0.477107,11769.410926,37719.0,11769.386205,37718.975278
23,Bank of America,34 ST-HERALD SQ,0.427771,16186.119048,51122.0,16186.104724,51121.985676
59,Capital One,GRD CNTRL-42 ST,0.331369,10136.990476,42705.0,10136.986481,42704.996005
65,Ebay,14 ST-UNION SQ,0.464676,15727.995238,43036.0,15727.973574,43035.978335
30,Facebook,14 ST-UNION SQ,0.286351,15727.995238,43036.0,15727.993313,43035.998075
33,HP,18 ST,0.274494,1263.404762,4710.0,1263.403204,4709.998442
41,Microsoft,TIMES SQ-42 ST,0.245411,14745.502370,47019.0,14745.501480,47018.999110
70,PWC,34 ST-HERALD SQ,0.456129,16186.119048,51122.0,16186.099303,51121.980256
14,Thoughtworks,34 ST-HERALD SQ,0.374360,16186.119048,51122.0,16186.111695,51121.992647
44,Two Sigma,CANAL ST,0.174432,5412.661905,22345.0,5412.661743,22344.999839
53,Workday,34 ST-HERALD SQ,0.177515,16186.119048,51122.0,16186.118871,51121.999824

In [69]:
turnstiles[turnstiles.STATION == '23 ST'].groupby(['DATE'])['hourly_entries'].sum().reset_index()

          DATE  hourly_entries
0   04/28/2018         63892.0
1   04/29/2018         46048.0
2   04/30/2018        123351.0
3   05/01/2018        126004.0
4   05/02/2018        127532.0
5   05/03/2018        129517.0
6   05/04/2018        117583.0
7   05/05/2018         55916.0
8   05/06/2018         40269.0
9   05/07/2018        119042.0
10  05/08/2018        127136.0
11  05/09/2018        128145.0
12  05/10/2018        128150.0
13  05/11/2018        117414.0
14  05/12/2018         49653.0
15  05/13/2018         35689.0
16  05/14/2018        118601.0
17  05/15/2018        130557.0
18  05/16/2018        132685.0
19  05/17/2018        128217.0
20  05/18/2018        117557.0
21  05/19/2018         51529.0
22  05/20/2018         42687.0
23  05/21/2018        111832.0
24  05/22/2018        123830.0
25  05/23/2018        123264.0
26  05/24/2018        121519.0
27  05/25/2018         99830.0
28  05/26/2018         41375.0
29  05/27/2018         31232.0
30  05/28/2018         32616.0
31  05/29/2018        108825.0
32  05/30/2018        116932.0
33  05/31/2018        117887.0
34  06/01/2018         98499.0

In [72]:
turnstiles[(turnstiles.STATION == '23 ST') & (turnstiles.DATE == '04/28/2018')].sort_values('hourly_entries',ascending=False)

,index,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,date_time,hour,entries_offset,exits_offset,hourly_entries,hourly_exits
118379,53201,N076,R111,00-00-02,23 ST,CE,IND,04/28/2018,16:00:00,REGULAR,18187449,1.027476e+07,2018-04-28 16:00:00,16,18188438,1.027522e+07,989.0,467.0
115229,4177,A030,R083,01-03-02,23 ST,NRW,BMT,04/28/2018,16:00:00,REGULAR,9632565,2.934812e+06,2018-04-28 16:00:00,16,9633463,2.935092e+06,898.0,280.0
117959,53117,N076,R111,00-00-00,23 ST,CE,IND,04/28/2018,16:00:00,REGULAR,4053271,1.503494e+06,2018-04-28 16:00:00,16,4054144,1.503819e+06,873.0,325.0
122383,128854,R131,R190,00-00-00,23 ST,1,IRT,04/28/2018,17:00:00,REGULAR,150304,4.870500e+04,2018-04-28 17:00:00,17,151173,4.885500e+04,869.0,150.0
122382,128853,R131,R190,00-00-00,23 ST,1,IRT,04/28/2018,13:00:00,REGULAR,149451,4.849400e+04,2018-04-28 13:00:00,13,150304,4.870500e+04,853.0,211.0
115228,4176,A030,R083,01-03-02,23 ST,NRW,BMT,04/28/2018,12:00:00,REGULAR,9631721,2.934463e+06,2018-04-28 12:00:00,12,9632565,2.934812e+06,844.0,349.0
118378,53200,N076,R111,00-00-02,23 ST,CE,IND,04/28/2018,12:00:00,REGULAR,18186652,1.027433e+07,2018-04-28 12:00:00,12,18187449,1.027476e+07,797.0,429.0
117958,53116,N076,R111,00-00-00,23 ST,CE,IND,04/28/2018,12:00:00,REGULAR,4052577,1.503156e+06,2018-04-28 12:00:00,12,4053271,1.503494e+06,694.0,338.0
118169,53159,N076,R111,00-00-01,23 ST,CE,IND,04/28/2018,16:00:00,REGULAR,10140826,5.617396e+06,2018-04-28 16:00:00,16,10141516,5.617742e+06,690.0,346.0
122592,128895,R131,R190,00-00-01,23 ST,1,IRT,04/28/2018,13:00:00,REGULAR,6005994,2.227663e+06,2018-04-28 13:00:00,13,6006664,2.227811e+06,670.0,148.0
122802,128937,R131,R190,00-00-02,23 ST,1,IRT,04/28/2018,13:00:00,REGULAR,13263708,5.548557e+06,2018-04-28 13:00:00,13,13264342,5.548729e+06,634.0,172.0
115019,4135,A030,R083,01-03-01,23 ST,NRW,BMT,04/28/2018,16:00:00,REGULAR,9093486,2.799372e+06,2018-04-28 16:00:00,16,9094116,2.799643e+06,630.0,271.0
115859,4303,A031,R083,00-00-00,23 ST,NRW,BMT,04/28/2018,16:00:00,REGULAR,292538,1.603400e+05,2018-04-28 16:00:00,16,293167,1.605310e+05,629.0,191.0
122593,128896,R131,R190,00-00-01,23 ST,1,IRT,04/28/2018,17:00:00,REGULAR,6006664,2.227811e+06,2018-04-28 17:00:00,17,6007281,2.227920e+06,617.0,109.0
114396,4016,A030,R083,01-00-01,23 ST,NRW,BMT,04/28/2018,16:00:00,REGULAR,6320598,2.340181e+06,2018-04-28 16:00:00,16,6321209,2.340250e+06,611.0,69.0
115858,4302,A031,R083,00-00-00,23 ST,NRW,BMT,04/28/2018,12:00:00,REGULAR,291946,1.600410e+05,2018-04-28 12:00:00,12,292538,1.603400e+05,592.0,299.0
114186,3974,A030,R083,01-00-00,23 ST,NRW,BMT,04/28/2018,16:00:00,REGULAR,6584381,4.209457e+06,2018-04-28 16:00:00,16,6584953,4.209686e+06,572.0,229.0
114809,4093,A030,R083,01-03-00,23 ST,NRW,BMT,04/28/2018,16:00:00,REGULAR,5897216,2.886226e+06,2018-04-28 16:00:00,16,5897777,2.886409e+06,561.0,183.0
114808,4092,A030,R083,01-03-00,23 ST,NRW,BMT,04/28/2018,12:00:00,REGULAR,5896664,2.885966e+06,2018-04-28 12:00:00,12,5897216,2.886226e+06,552.0,260.0
115018,4134,A030,R083,01-03-01,23 ST,NRW,BMT,04/28/2018,12:00:00,REGULAR,9092936,2.799107e+06,2018-04-28 12:00:00,12,9093486,2.799372e+06,550.0,265.0
116069,4345,A031,R083,00-00-01,23 ST,NRW,BMT,04/28/2018,16:00:00,REGULAR,3910280,1.307962e+06,2018-04-28 16:00:00,16,3910825,1.308087e+06,545.0,125.0
118168,53158,N076,R111,00-00-01,23 ST,CE,IND,04/28/2018,12:00:00,REGULAR,10140283,5.617075e+06,2018-04-28 12:00:00,12,10140826,5.617396e+06,543.0,321.0
122803,128938,R131,R190,00-00-02,23 ST,1,IRT,04/28/2018,17:00:00,REGULAR,13264342,5.548729e+06,2018-04-28 17:00:00,17,13264860,5.548892e+06,518.0,163.0
118380,53202,N076,R111,00-00-02,23 ST,CE,IND,04/28/2018,20:00:00,REGULAR,18188438,1.027522e+07,2018-04-28 20:00:00,20,18188949,1.027544e+07,511.0,215.0
116068,4344,A031,R083,00-00-01,23 ST,NRW,BMT,04/28/2018,12:00:00,REGULAR,3909770,1.307828e+06,2018-04-28 12:00:00,12,3910280,1.307962e+06,510.0,134.0
118589,53243,N076,R111,00-06-00,23 ST,CE,IND,04/28/2018,16:00:00,REGULAR,2670944,9.737170e+05,2018-04-28 16:00:00,16,2671438,9.739400e+05,494.0,223.0
116279,4387,A031,R083,00-00-02,23 ST,NRW,BMT,04/28/2018,16:00:00,REGULAR,5995956,3.235366e+06,2018-04-28 16:00:00,16,5996446,3.235526e+06,490.0,160.0
118588,53242,N076,R111,00-06-00,23 ST,CE,IND,04/28/2018,12:00:00,REGULAR,2670458,9.735090e+05,2018-04-28 12:00:00,12,2670944,9.737170e+05,486.0,208.0
123852,148367,R226,R131,02-00-00,23 ST,6,IRT,04/28/2018,13:00:00,REGULAR,1998383711,1.545484e+09,2018-04-28 13:00:00,13,1998384190,1.545484e+09,479.0,194.0
121527,95817,N509,R203,00-00-01,23 ST,FM,IND,04/28/2018,16:00:00,REGULAR,5801670,2.833271e+06,2018-04-28 16:00:00,16,5802143,2.833411e+06,473.0,140.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117117,52947,N075,R111,01-05-00,23 ST,CE,IND,04/28/2018,08:00:00,REGULAR,262333,1.359348e+09,2018-04-28 08:00:00,8,262333,1.359348e+09,0.0,0.0
117116,52946,N075,R111,01-05-00,23 ST,CE,IND,04/28/2018,04:00:00,REGULAR,262333,1.359348e+09,2018-04-28 04:00:00,4,262333,1.359348e+09,0.0,0.0
117115,52945,N075,R111,01-05-00,23 ST,CE,IND,04/28/2018,00:00:00,REGULAR,262333,1.359348e+09,2018-04-28 00:00:00,0,262333,1.359348e+09,0.0,0.0
119633,53447,N077,R111,02-06-00,23 ST,CE,IND,04/28/2018,04:00:00,REGULAR,1039958,1.630514e+07,2018-04-28 04:00:00,4,1039958,1.630520e+07,0.0,63.0
117330,52992,N075,R111,01-05-01,23 ST,CE,IND,04/28/2018,20:00:00,REGULAR,6,1.166000e+03,2018-04-28 20:00:00,20,6,1.166000e+03,0.0,0.0
125117,148624,R226,R131,02-06-00,23 ST,6,IRT,04/28/2018,09:00:00,REGULAR,590019,0.000000e+00,2018-04-28 09:00:00,9,590019,0.000000e+00,0.0,0.0
127468,149085,R227,R131,00-05-00,23 ST,6,IRT,04/28/2018,01:00:00,REGULAR,1357,0.000000e+00,2018-04-28 01:00:00,1,1357,0.000000e+00,0.0,0.0
127469,149086,R227,R131,00-05-00,23 ST,6,IRT,04/28/2018,05:00:00,REGULAR,1357,0.000000e+00,2018-04-28 05:00:00,5,1357,0.000000e+00,0.0,0.0
127470,149087,R227,R131,00-05-00,23 ST,6,IRT,04/28/2018,09:00:00,REGULAR,1357,0.000000e+00,2018-04-28 09:00:00,9,1357,0.000000e+00,0.0,0.0
127471,149088,R227,R131,00-05-00,23 ST,6,IRT,04/28/2018,13:00:00,REGULAR,1357,0.000000e+00,2018-04-28 13:00:00,13,1357,0.000000e+00,0.0,0.0
127472,149089,R227,R131,00-05-00,23 ST,6,IRT,04/28/2018,17:00:00,REGULAR,1357,0.000000e+00,2018-04-28 17:00:00,17,1357,0.000000e+00,0.0,0.0
127473,149090,R227,R131,00-05-00,23 ST,6,IRT,04/28/2018,21:00:00,REGULAR,1357,0.000000e+00,2018-04-28 21:00:00,21,1357,0.000000e+00,0.0,0.0
127678,149127,R227,R131,00-05-01,23 ST,6,IRT,04/28/2018,01:00:00,REGULAR,2,3.180000e+02,2018-04-28 01:00:00,1,2,3.180000e+02,0.0,0.0
127679,149128,R227,R131,00-05-01,23 ST,6,IRT,04/28/2018,05:00:00,REGULAR,2,3.180000e+02,2018-04-28 05:00:00,5,2,3.180000e+02,0.0,0.0
127680,149129,R227,R131,00-05-01,23 ST,6,IRT,04/28/2018,09:00:00,REGULAR,2,3.180000e+02,2018-04-28 09:00:00,9,2,3.180000e+02,0.0,0.0
117328,52990,N075,R111,01-05-01,23 ST,CE,IND,04/28/2018,12:00:00,REGULAR,6,1.166000e+03,2018-04-28 12:00:00,12,6,1.166000e+03,0.0,0.0
127682,149131,R227,R131,00-05-01,23 ST,6,IRT,04/28/2018,17:00:00,REGULAR,2,3.180000e+02,2018-04-28 17:00:00,17,2,3.180000e+02,0.0,0.0
125116,148623,R226,R131,02-06-00,23 ST,6,IRT,04/28/2018,05:00:00,REGULAR,590019,0.000000e+00,2018-04-28 05:00:00,5,590019,0.000000e+00,0.0,0.0
120679,95645,N508,R453,00-00-02,23 ST,FM,IND,04/28/2018,00:00:00,REGULAR,1825585560,1.931388e+09,2018-04-28 00:00:00,0,1825585525,1.931388e+09,NaN,9.0
120680,95646,N508,R453,00-00-02,23 ST,FM,IND,04/28/2018,04:00:00,REGULAR,1825585525,1.931388e+09,2018-04-28 04:00:00,4,1825585517,1.931388e+09,NaN,30.0
120681,95647,N508,R453,00-00-02,23 ST,FM,IND,04/28/2018,08:00:00,REGULAR,1825585517,1.931388e+09,2018-04-28 08:00:00,8,1825585434,1.931388e+09,NaN,133.0
120682,95648,N508,R453,00-00-02,23 ST,FM,IND,04/28/2018,12:00:00,REGULAR,1825585434,1.931388e+09,2018-04-28 12:00:00,12,1825585174,1.931388e+09,NaN,157.0
120683,95649,N508,R453,00-00-02,23 ST,FM,IND,04/28/2018,16:00:00,REGULAR,1825585174,1.931388e+09,2018-04-28 16:00:00,16,1825584835,1.931389e+09,NaN,152.0
120684,95650,N508,R453,00-00-02,23 ST,FM,IND,04/28/2018,20:00:00,REGULAR,1825584835,1.931389e+09,2018-04-28 20:00:00,20,1825584654,1.931389e+09,NaN,47.0
126208,148833,R227,R131,00-00-00,23 ST,6,IRT,04/28/2018,01:00:00,REGULAR,920646754,8.870353e+08,2018-04-28 01:00:00,1,920646730,8.870352e+08,NaN,NaN
126209,148834,R227,R131,00-00-00,23 ST,6,IRT,04/28/2018,05:00:00,REGULAR,920646730,8.870352e+08,2018-04-28 05:00:00,5,920646695,8.870351e+08,NaN,NaN
126210,148835,R227,R131,00-00-00,23 ST,6,IRT,04/28/2018,09:00:00,REGULAR,920646695,8.870351e+08,2018-04-28 09:00:00,9,920646548,8.870347e+08,NaN,NaN
126211,148836,R227,R131,00-00-00,23 ST,6,IRT,04/28/2018,13:00:00,REGULAR,920646548,8.870347e+08,2018-04-28 13:00:00,13,920646235,8.870344e+08,NaN,NaN
126212,148837,R227,R131,00-00-00,23 ST,6,IRT,04/28/2018,17:00:00,REGULAR,920646235,8.870344e+08,2018-04-28 17:00:00,17,920646007,8.870342e+08,NaN,NaN
126213,148838,R227,R131,00-00-00,23 ST,6,IRT,04/28/2018,21:00:00,REGULAR,920646007,8.870342e+08,2018-04-28 21:00:00,21,920645894,8.870341e+08,NaN,NaN

In [42]:
station_hour_day = turnstiles.groupby(['STATION','DATE','hour'])['hourly_entries'].sum()
station_mean = station_hour_day.groupby('STATION').mean()
station_max = station_hour_day.groupby('STATION').max()
station_mean.loc['23 ST']

8059.083333333333

In [48]:
df_tmp = stations.groupby('name').min().reset_index()[['name','lon','lat']]
df_tmp[df_tmp.name == '23rd St']

       name                 lon                 lat
47  23rd St  -73.98659900207888  40.739864000474604